---
  Checks:          'clang-analyzer-*,
                    bugprone-*,
                    modernize-*,
                    -modernize-use-trailing-return-type,
                    google-*,
                    readability-*,
                    portability-*'
